<<<<<<< HEAD
.pick-button {
	visibility: hidden;
}
=======
@import 'https://fonts.googleapis.com/css?family=Amarante';
body {
	background: url('img/Gnar-Teaser-Background.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	font-family: 'Amarante', cursive;
}
.champions h1 {
	margin: 30px 0 0 -30px;
    font-size: 50px;
    color: #ffd80c;
    white-space: nowrap;
    visibility: hidden;
}
.img-left {
    margin: 20px -100px;
    	-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);

}
.img-right {
    margin: 20px -130px;
}
#left-column, #right-column {
	display: none;
} 

#main-content {
	text-align: center;
}
#logo {
	width: 400px;
    display: block;
    margin: 20px auto;
}
#rules {
	width: 80%;
    height: auto;
    margin: 0 auto;
    background: rgba(213,166,120,.8);
    border-radius: 20px;
    border: 1px solid black;
    font-size: 15px;
}
#rules h1 {
	font-size: 34px;
}
#rules p {
	padding-left: 14px;
	text-align: left;
}
#rules ul {
	text-align: left;
}
.game-button {
    width: 150px;
    height: 40px;
    background: #d79922;
    margin: 15px 0;
    border: 3px solid;
    border-color: #f6c653 #bd6a23 #b6631f #e8ab4a;
    font-size: 15px;
    color: white;
}
.game-button:hover {
	border: 3px solid;
	border-color: #fdeaba #bf712c #b66521 #edbd6e;
	background: #e0a634;
}
.game-button:focus {
	outline: none;
	border-color: #fdeaba #bf712c #b66521 #edbd6e;
	background: #e0a634; 
}
.game-button:active {
	color: white;
	outline: none;
	border-color: #fdeaba #bf712c #b66521 #edbd6e;
	background: #e0a634; 
}
#game-elements {
	visibility: hidden;
}

#game-result {
	text-align: left;
    color: #ffd80c;
    padding: 30px 0 10px 0;

}
#game-result p {
    font-size: 20px;

}
.game-table {
	background: rgba(64, 64, 64, 0.63);
    font-size: 15px;
    color: #ffd80c;
    font-weight: bold;
}
.table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
	width: 50%;
}
#playerScore {
	text-align: center;
}
#computer-table {
	text-align: left;
}
#game-results {
  background: rgba(0,0,0,.8);
  width: 100%;
  height: 100%; 
  z-index: 10;
  top: 0; 
  left: 0; 
  position: fixed; 
}
#game-results-content {
	width: 400px;
	text-align: center;
    margin: 40vh auto;
    color: #ffd80c;
}
@media (max-width: 992px) {
	.col-md-2 {
		display: none;
	} 
}
>>>>>>> master
